<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 设置数据库驱动 -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!-- 设置数据库URL -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/indexSystem</property>
        <!-- 数据库用户名 -->
        <!-- 数据库密码 -->
        <!-- 指定对应数据库的方言，hibernate为了更好适配各种关系数据库，针对每种数据库都指定了一个方言dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <!-- 映射文件 -->
        <mapping class="com.wiceflow.hibernate.UserEntity"/>
        <mapping resource="com/wiceflow/hibernate/GroupEntity.hbm.xml"/>
        <mapping class="com.wiceflow.hibernate.GroupEntity"/>
        <mapping resource="com/wiceflow/hibernate/UserEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.AmpmPortSpeedEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/AmpmPortSpeedEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.ArterialTrafficListEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/ArterialTrafficListEntity.hbm.xml"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/CrossTrafficListEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.CrossTrafficListEntity"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.DistrictTrafficListEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/DistrictTrafficListEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.ParkTrafficListEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/ParkTrafficListEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.SectTrafficListEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/SectTrafficListEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.WholeTrafficListEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/WholeTrafficListEntity.hbm.xml"/>
        <mapping class="com.wiceflow.json.fastjson.hipo.BasicEntity"/>
        <mapping resource="com/wiceflow/json/fastjson/hipo/BasicEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>